<p id="notice"><%= notice %></p>

<h1>Cards</h1>
<div class="flex-container wrap">
    <% @cards.each do |card| %>
      <div class="width-4-12">
        <%=render 'card', card:card %>
      </div>
    <% end %>
</div>
<%= link_to 'New Card', new_card_path %>
