@import "fonts";
@import "bootstrap";

* {font-family: "Gotham Pro", sans-serif;}

@import "cards";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$red: #d21d20;
$yellow: #ffb822;
$purple: #716aca;
$gray: #808080;
$blue: #005c9b;
$light_blue: #72c7f0;

.nav{
  height: 100px;
}
.logo{
  margin-top: -15px;
  height: 34px;
  width: auto;
}
.nav > div > span{
  font-size: 50px;
  font-weight: 100;

}
h1 {
	font-size: 34px;
	color: #fff;
	font-weight: bold;
}
.strong{
    font-weight: 600;
}
.username{
  cursor:pointer;
}
.user-avatar {
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: 3px;
}
.title{
  font-size: 35px !important;
}
.rigth-margin{
  margin-right:100px;
}

.main{
  margin-top:78px;
}

.width-100{
  width: 100%;
}

.widtg-200px{
  width: 200px;
}

.height-100{
  height: 100%;
}

.btn-red{
  color: $red;
  border-color: $red;
}

.logo-big{
  z-index: -1000;
  position: fixed;
  margin-top: -200px;
  width: 450px;
  height: auto;
  bottom: 0;
}

.flex-center-full{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center{
  display: flex;
  align-items: center;
  height: 100%;
}

.flex-center-orig{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin{
  margin: auto;
}

.form-signin > a{
  width: 400px;
  height: 100px;
  font-size: 30px;
  text-align: right;
}

.google{
  border-radius: 6px;
  background-color: white;
  height: 90px;
  width: 90px;
  margin-left: -11px;
  margin-right: 25px;
}

.logo-google{
  width: 75px;
  height: 75px;
}
.btn-google{
  padding: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
