@import "fonts";
@import "bootstrap";

html,body {font-family: "Gotham Pro", sans-serif !important;}

@import "cards";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$red: #d21d20;
$yellow: #ffb822;
$purple: #716aca;
$gray: #808080;
$blue: #005c9b;
$light_blue: #72c7f0;


.logo-app {
  margin-bottom: 50px;
}
h1 {
    display: block;
	font-size: 34px;
	color: #fff;
	font-weight: bold;
}
.strong{
    font-weight: 600;
}


.title{
  font-size: 35px !important;
  
}
.events-text {
  font-size: 16px;
  display: block;
}
.rigth-margin{
  margin-right:100px;
}

.main{
  margin-top:78px;
}

.width-100{
  width: 100%;
}

.widtg-200px{
  width: 200px;
}

.height-100{
  height: 100%;
}

.btn-red{
  color: $red;
  border-color: $red;
}

.logo-big{
  z-index: -1000;
  position: fixed;
  margin-top: -200px;
  width: 450px;
  height: auto;
  bottom: 0;
}

.flex-center-full{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center{
  display: flex;
  align-items: center;
  height: 100%;
}

.flex-center-orig{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin {
  margin: auto;
}

.form-signin > a {
  display: table;
  padding: 2px 10px 2px 2px;
  font-size: 20px;
  text-align: right;
}
.form-signin > a span {
  display: inline-block;
  line-height: 44px;
  padding-left: 10px;
}
.google{
  display: table;
  padding: 6px;
  float: left;
  border-radius: 4px;
  line-height: 1;
  background-color: white; 
}
.logo-google {
  width: 32px;
  height: 32px;
  transform: rotate(-360deg);
  transition: all 240ms ease-out;
}
#sign_in:hover .google .logo-google {
	transform: rotate(360deg);
	transition: all 320ms ease-in;
}


.btn-google{
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-nav {
	padding: 26px 0;
}
.branding {
	display: table;
	float: left;
	padding: 0 30px 0 0;
}
.nav {
  height: 100px;
}
.logo {
  height: 34px;
  width: auto;
  margin: 7px 0;
}


.nav > div > span{
  font-size: 50px;
  font-weight: 100;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 20px;
	margin: 0 15px;
}

.username{
	span {
		line-height: 46px;
		padding-right: 15px;
	}
	
	.user-avatar {
		position: relative;
		display: inline-block;
		width: 46px;
		height: 46px;
		float: right;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		border-radius: 3px;
	}
}


