// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.card_div {
  border: 1px solid #2E2F30;
  padding: 10px;
}

.full-width {
  width: 100%;
}

.flex-container{
  width:100%;
  display:flex;
}

.wrap{
  flex-wrap: wrap;
}
.width-4-12{
  margin: 10px;
  width: 30%;
}

.width-50{
  width: 50%;
}

.show-block{
  padding: 20px;
  overflow: hidden;
}
.chat{
  margin: 0px !important;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.full-height {
  height: 100vh;
  overflow: hidden;
}

input.form-control.sidebar-form {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
}

.chat-box {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat {

}

.chat-username {
  font-size: 0.7rem;
}

.chat-message {
  font-size: 0.85rem;
}

.card-margin{
  margin-top:10px;
  margin-bottom: 10px;
}


@media screen and (max-width: 1200px) {
  .d-lg-lg-block {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .d-md-md-block {
    display: none !important;
  }
}

.cats-right{
  padding: 10px;
}

.cat{
  height: 60px;
}

.checkbox{
  display: inline-block;
  font-size:20px;
}

.pipe{
  display: inline-block;
  border-radius: 30px;
  height: 60px;
  width: 5px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: left;
}

.w-100{
  height: 10px;
}
.checkbox{
  align-items: center;
}

.red{
  background-color: $red;

}

.red-text{
  color:$red !important;
}

.yellow-text{
  color:$yellow !important;
}

.purple-text{
  color:$purple !important;
}
.red-text:hover{
  color:$red;
}

.yellow{
  background-color: $yellow;
}

.purple{
  background-color: $purple;
}

.members{
  justify-content: center;
}
.members > div > h2{
  text-align: center;
}

.members > div > p{
  color: #808080;
  font-style: italic;
  font-size: 12px;
}

.title-text{
  font-weight: 600;
}

.gray-text{
  color: #808080;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #72c7f0;
}

.msg_input{
  width:100%;
  outline: none;
  autocomplete: off;
  height: 40px;
  padding: 10px;
  font-size: 20px;
}

.button-twice{
  margin: 10px;

}

.btn-inner{
  color: white;
  background-color: #72c7f0;
}

.btn-create{
  height: 50px;
  width: 100%;
  margin-left: 42px;
  border-radius: 8px;
  font-size: 30px;
  color: white;
}

.padding-top-bot{
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-d{
  display: flex;
}

.backgroud-blue{ 
  display:block;
  background-image: linear-gradient(to bottom left, #72c7f0, #005c9b);
  width: 100%;
  height: 150px;
  margin-top: 100px;
  z-index: -1000;
}

.main-index{
  background-color: white;
}

.btn-create > a{
  color:white;
  text-decoration: none !important;
}
.events-text{
  color:white;
  overflow: visible;
  margin: 0;
}
.flex-center{
  display: flex;
  align-items: center;
}

.flex-center-center{
  justify-content: center;
}
.btn-create-grad{
  background-image: linear-gradient(to right, $yellow, $red);
}
.column{
  flex-direction: column;
}

.btn-vw{
  font-size:1.5vw;
  padding: 13px;
}

.white{
  color: white;
}

.width-90{
  width: 90%;
}

.padding-160{
  padding-left: 170px;
}

.chat-window{
  background-color: white;
  border-color: gray;
  border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-title{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 25px;
  padding: 8px;
}

.big-image{
  width: 700px;
  height: 250px;
  background-color: #2E2F30;
  margin-bottom: 25px;
}

.center-text{
  text-align: center;
}